<h1> Add Arrangement</h1>


<form method ="post" action="/Arrangement/add">

    <label>Type</label>
    <input type="text" name="type" class="" >

    <label>Description</label>
    <input type="text" name="description" class="" >

    <label>Price</label>
    <input type="number" name="price" class="" >

    <label>Image</label>
    <input type="file" name="image" class="" >

    <button type="submit" class="">Create Arrangement</button>
</form>