<h1> Add Bouquet</h1>


<form method ="post" action="/Bouquet/add">

    <label>Name</label>
    <input type="text" name="name" class="" >

    <label>Description</label>
    <input type="text" name="description" class="" >

    <label>Color</label>
    <input type="text" name="color" class="" >

    <label>Price</label>
    <input type="number" name="price" class="" >

    <label>Image</label>
    <input type="file" name="image" class="" >

    <button type="submit" class="">Create Bouquet</button>
</form>