<h1> Add Studio</h1>


<form method ="post" action="/Studio/add">

    <label>Name</label>
    <input type="text" name="name" class="" >

    <label>Package Type</label>
    <input type="text" name="packageType" class="" >

    <label>Description</label>
    <input type="text" name="description" class="" >

    <label>Price</label>
    <input type="number" name="price" class="" >

    <label>Image</label>
    <input type="file" name="image" class="" >

    <button type="submit" class="">Create Studio</button>
</form>