<h1> Add Security</h1>


<form method ="post" action="/Security/add">

    <label>Name</label>
    <input type="text" name="name" class="" >

    <label>description</label>
    <input type="text" name="description" class="">

    <label>No Of Security</label>
    <input type="number" name="noOfSecurity" class="" >

    <label>Price</label>
    <input type="number" name="price" class="" >

    <label>Image</label>
    <input type="file" name="image" class="" >

    <button type="submit" class="">Create Security</button>
</form>