<h1> Add buffet</h1>

<form method ="post" action="/buffet/add" enctype="multipart/form-data">

    <label>restaurantName</label>
    <input type="text" name="restaurantName" class="" >

    <label>type</label>
    <input type="text" name="type" class="">

    <label>description</label>
    <input type="text" name="description" class="" >

    <label>noOfGuests</label>
    <input type="number" name="noOfGuests" class="" >

    <label>price</label>
    <input type="number" name="price" class="" >

    <label>Image</label>
    <input type="file" name="image" accept="image/*">

    <button type="submit" class="">Create buffet</button>
</form>
